flask
flask-cors
PyJWT
python-dotenv
pymongo
bcrypt
PyPDF2
python-docx
google-generativeai
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-pinecone
langchain-google-genai
pinecone
sentence-transformers
huggingface-hub
gunicorn
